<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.yygh.order.mapper.OrderInfoMapper">

    <!--<select id="selectOrderCount"
            resultType="com.atguigu.yygh.vo.order.OrderCountVo"
            parameterType="com.atguigu.yygh.vo.order.OrderCountQueryVo">
&#45;&#45; SELECT reserve_date as 'reserveDate',COUNT(1) as 'count' FROM `order_info`
&#45;&#45; WHERE hosname LIKE #{hosname} AND  reserve_date ?,? GROUP BY reserve_date
    </select>-->

    <select id="selectOrderCount" resultType="com.atguigu.yygh.vo.order.OrderCountVo">
        select reserve_date as reserveDate, count(reserve_date) as count
        from order_info
        <where>
            <if test="hosname != null and hosname != ''">
                and hosname like CONCAT('%',#{hosname},'%')
            </if>
            <if test="reserveDateBegin != null and reserveDateBegin != ''">
                and reserve_date >= #{reserveDateBegin}
            </if>
            <if test="reserveDateEnd != null and reserveDateEnd != ''">
                and reserve_date &lt;= #{reserveDateEnd}
            </if>
            and is_deleted = 0
        </where>
        GROUP BY reserve_date
        ORDER BY reserve_date
    </select>
</mapper>
